.app {
  background: rgb(255, 255, 255) url("dictionary-word-background.webp")
    no-repeat fixed center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.app-header {
  text-align: center;
  font-weight: bold;
  padding: 30px 0 0 0;
  font-size: 80px;
}

.app-footer {
  text-align: center;
}

.dictionary input {
  width: 70%;
  border-radius: 10px;
  padding: 7px;
}

.dictionary .container-form,
.container-results {
  justify-content: center;
  text-align: center;
  padding: 30px;
  margin: 30px 60px 30px 60px;
  border-radius: 10px;
  box-shadow: 14px 19px 31px 2px rgba(0, 0, 0, 0.45);
  background-color: rgba(224, 224, 224, 0.7);
}

.section {
  justify-content: center;
  padding: 30px;
  margin: 20px 0px 0 20px;
  border-radius: 10px;
  background-color: rgba(224, 224, 224, 0.6);
}

input {
  text-align: center;
}

.results-search {
  justify-content: flex-start;
  text-align: start;
}

.meaning .definition-text {
  text-align: center;
  font-weight: bold;
  color: rgba(74, 72, 72, 0.6);
}

.results .searched-word {
  text-align: center;
  text-transform: capitalize;
}

.meaning .verb-adj-noun {
  text-align: center;
  text-transform: capitalize;
}
