@media only screen and (max-width: 1280px) {
  .container-results {
    margin: 30px;
    padding: 5px;
  }
}

@media only screen and (min-width: 280px) {
  .dictionary {
    margin: 5px;
    padding: 0px;
  }
}

.phonetic {
  text-align: center;
}

#player {
  width: 100%;
}
